<div class="grid-form">
	<div class="grid-form1">
		<h3 id="forms-example">Add new portfolio</h3>
		<form class="form-horizontal" method="post" action="{{ server }}/{{ language }}/admin/portfolio/add">
			<div id="username-group" class="form-group">
				<label class="col-sm-2 control-label hor-form">Project Name</label>
				<div class="col-sm-10">
					<div class="input-icon right spinner">
						<i id="username-loading"></i>
						<input type="text" class="form-control1" id="name" name="name" placeholder="Project Name" required>
					</div>
				</div>
			</div>
			<div id="password-group" class="form-group">
				<label class="col-sm-2 control-label hor-form">Client</label>
				<div class="col-sm-10">
					<input type="text" class="form-control1" id="client" name="client" placeholder="Client">
				</div>
			</div>
			<div id="repeated-password-group" class="form-group">
				<label class="col-sm-2 control-label hor-form">Role</label>
				<div class="col-sm-10">
					<input type="text" class="form-control1" id="role" name="role" placeholder="Role in this project">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hor-form">Description</label>
				<div class="col-sm-10">
					<input type="text" class="form-control1" id="description" name="description" placeholder="Description">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label hor-form">Link</label>
				<div class="col-sm-10">
					<input type="text" class="form-control1" id="link" name="link" placeholder="Link">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Add Portfolio</button>
				</div>
			</div>
		</form>
	</div>
</div>